.progress {
  padding: 5px 0px;
  cursor: pointer;
}
.progress-bar {
  /* transform: scaleY(0.5); */
  position: relative;
  width: 100%;
  height: 4px;
  background: #cfd5de;
  transition: all 0.3s ease-in-out;
}
/* .progress-hover:hover .progress-bar {
  transform: scaleY(1);
} */
.progress-played {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  background: #006eff;
}
.progress-played-bar {
  position: absolute;
  top: -3px;
  right: 5px;
  width: 10px;
  height: 10px;
  margin-right: -10px;
  background: #006eff;
  border-radius: 50%;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out;
}
.progress-hover:hover .progress-played-bar {
  transform: scaleY(1);
}
